/*
 * Warning: This is the most spaghetti code you will undoubtably read.
 * Apologies for anyone reading this that is not me.
 * 
 * This was made in a day, and was an exercise in me learning:
 *    - JavaScript      - React
 *    - HTML            - CSS 
 * from almost scratch.
*/


.App {
  text-align: center;
  background-color: #334336b4;
}

/* Logo - Base */
.App-logo {
  min-height: 5vh;
  min-width: 5vh;
  max-height: 10vh;
  max-width: 10vh;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.todoText {
  display:inline
}

.break {
   display: block;
   margin: 2px 0;
}

.removeButton {
  background-color: #b84e4e; /* Green */
  border: 0.5;
  color: white;
  padding: 2px 2px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.completeButton {
  background-color: #5ace17; /* Green */
  border: 0.5;
  color: white;
  padding: 2px 2px;
  text-align: center;
  align-items: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}


/* Header Properties */
.App-header {
  background-color: #334336;
  min-height: 10vh;
  font-size: calc(3px + 1vmin);
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
}

.App-Entry {
  min-height: 50vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(3px + 1vmin);
  color: rgb(0, 0, 0);
}

.todo {
  align-items: center;
  min-height: 1vh;
  display: flex;
  flex-direction: column;
  font-size: calc(7px + 3vmin);
  color: rgb(255, 255, 255);
}

.todo-list{ 
  text-align: left;
  min-height: 79vh;
  display: flex;
  flex-direction: column;
  color: rgb(255, 255, 255);
}

/* Footer Properties */
.App-footer {
  background-color: #161d18;
  text-align: center;
  min-height: 4vh;
  display: flex;
  flex-direction: column;
  align-items: bottom;
  justify-content: center;
  font-size: calc(2px + 1vmin);
  color: white;
}


/* GitHub Link Properties */
.App-link {
  color: #ffffff;
}


